nav {

    padding-top: 0.5% !important;
    padding-bottom: 0.5% !important;
    line-height: normal;
    font-size: medium;

}


img {
    max-width: 100%;
    height: auto !important;
}

.inline {
    display: inline;
}

.page-header {
    margin-top: 3%;
    /*padding-bottom: 20px;*/
    margin-right: 10%;
}

.comments {
    margin: 20px 0;
}

.reply-body {
    margin-top: 10px;
}

.sidebar {
    padding-left: 30px;
}

footer {
    margin-top: 30px;
    padding: 10px 0 40px;
    color: #999;
    border-top: 1px solid #e5e5e5;
}

.page-footer {
    margin-top: 40px;
    /*background-color: red!important;*/
}

.tip { /* from github.com */
    color: black !important;
    position: relative;
    padding: 40px;
    text-align: center;
    background-color: #fafbfc;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(27, 31, 35, 0.05);
}

.col-sm-8, .col-sm-4 {
    margin-top: 3%;
}

.per-post{
    overflow: hidden;
    min-height: 0;!important;
    max-height: 20rem;
}

a:hover {
    color: #37ede0
}


hr.post_spliter {
    background-color: #9fcdff;
    /*background-color: whitesmoke;*/
}

.hr-solid-content {
    padding-top: 1.5% !important;
    padding-bottom: 1%;
    margin-bottom: 0 !important;
    /*color: #a2a9b6;*/
    color: #6495ed;
    border: 0;
    font-size: 12px;
    /*padding: 1em 0;*/
    position: relative;
    width: 80%;
    overflow: hidden;

    height: 1px;
}

.hr-solid-content::before {
    content: attr(data-content);
    position: absolute;
    padding: 0 1ch;
    line-height: 1px;
    border: solid #6495ed;
    border-width: 0 99vw;
    width: fit-content;
    /* for IE浏览器 */
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
}

.page-link:hover {
    text-decoration: none;
    background-color: #37ede0 !important;
}

.page-link {
    border-left: 1px;
    color: whitesmoke;
    background-color: #204be6 !important;

    /*color: cornflowerblue !important;*/
}

.page-item.disabled .page-link {
    color: #f5f5f5d4;
    background-color: #6495ed !important;
}


.bottom-block {
    float: outside;
    /*background-color: black;*/
    overflow: visible;
}


.change-color {
    background: black linear-gradient(to right, black, #333, black);
    min-height: max-content;
}

* {
    letter-spacing: 0.05rem;
    word-spacing: 0.15rem !important;
}

.nav-link {
    color: whitesmoke !important;
}

.nav-link:hover {
    color: #37ede0 !important;
}

.col-sm-8 {
    min-height: 50rem;
}

.icp-link {

    text-align: center;
    font-size: 12px;
}

/*@media screen and (min-width: 375px) {*/
/*    html{*/
/*        !* 375px作为16px基准，414px宽度时正好对应18px的根字号大小 *!*/
/*        font-size: calc(16px + 2 * (100vw - 375px) / 39);*/
/*    }*/
/*}*/
/*@media screen and (min-width: 414px) {*/
/*    html{*/
/*        !* 屏幕宽度从414px到1000px，根字号大小累积增加4px（18px-22px） *!*/
/*        font-size: calc(18px + 4 * (100vw - 414px) / 586);*/
/*    }*/
/*}*/
/*@media screen and (min-width: 1000px) {*/
/*    html{*/
/*        !* 屏幕宽度从1000px往后每增加100px，根字号大小就增加0.5px *!*/
/*        font-size: calc(22px + 5 * (100vw - 1000px) / 1000);*/
/*    }*/
/*}*/

h4.text-primary {
    font-size: 1.2rem;
}

