nav {

    padding-top: 0.3% !important;
    padding-bottom: 0.3% !important;
    line-height: normal;
    font-size: medium;

}


img {
    max-width: 100%;
    height: auto !important;
}

.inline {
    display: inline;
}

.page-header {
    margin-top: 3%;
    /*padding-bottom: 20px;*/
    margin-right: 10%;
}

.comments {
    margin: 20px 0;
}

.reply-body {
    margin-top: 10px;
}

.sidebar {
    padding-left: 30px;
}

footer {
    margin-top: 30px;
    padding: 10px 0 40px;
    color: #999;
    border-top: 1px solid #e5e5e5;
}

.page-footer {
    margin-top: 40px;
    /*background-color: red!important;*/
}

.tip { /* from github.com */
    color: black !important;
    position: relative;
    padding: 40px;
    text-align: center;
    background-color: #fafbfc;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(27, 31, 35, 0.05);
}

.col-sm-8, .col-sm-4 {
    margin-top: 3%;
}

.per-post {
    overflow: hidden;
    min-height: 0;
!important;
    max-height: 20rem;
}

a:hover {
    color: #37ede0 !important;
    text-decoration: none;
}


hr.post_spliter {
    background-color: #9fcdff;
    /*background-color: whitesmoke;*/
}

.alert-dark {
    background-color: #515151;
}

/*.hr-solid-content {*/
/*    padding-top: 1.5% !important;*/
/*    padding-bottom: 1.1%;*/
/*    margin-bottom: 0 !important;*/
/*    !*color: #a2a9b6;*!*/
/*    color: #6495ed;*/
/*    border: 0;*/
/*    font-size: 12px;*/
/*    !*padding: 1em 0;*!*/
/*    position: relative;*/
/*    width: 80%;*/
/*    overflow: hidden;*/

/*    height: 1px;*/
/*}*/

/*.hr-solid-content::before {*/
/*    content: attr(data-content);*/
/*    position: absolute;*/
/*    padding: 0 1ch;*/
/*    line-height: 1px;*/
/*    border: solid #6495ed;*/
/*    border-width: 0 99vw;*/
/*    width: fit-content;*/
/*    !* for IE浏览器 *!*/
/*    white-space: nowrap;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*}*/

.page-link:hover {
    text-decoration: none;
    background-color: #466eff !important
}

.page-link {
    border-left: 1px;
    color: whitesmoke;
    background-color: #204be6 !important;

    /*color: cornflowerblue !important;*/
}

.page-item.disabled .page-link {
    color: #f5f5f5d4;
    background-color: #6495ed !important;
}


.bottom-block {
    float: outside;
    /*background-color: black;*/
    overflow: visible;
}


.change-color {
    background: black linear-gradient(to right, black, #333,black);
    min-height: max-content;
}

* {
    letter-spacing: 0.05rem;
    word-spacing: 0.15rem !important;
}

.nav-link {
    color: whitesmoke !important;
    /*margin-left: 6%*/
}

.nav-link:hover {
    color: #37ede0 !important;
}

.col-sm-8 {
    min-height: 50rem;
}

.icp-link {

    text-align: right;
    font-size: 12px;
    color: whitesmoke;
}

/*@media screen and (min-width: 375px) {*/
/*    html{*/
/*        !* 375px作为16px基准，414px宽度时正好对应18px的根字号大小 *!*/
/*        font-size: calc(16px + 2 * (100vw - 375px) / 39);*/
/*    }*/
/*}*/
/*@media screen and (min-width: 414px) {*/
/*    html{*/
/*        !* 屏幕宽度从414px到1000px，根字号大小累积增加4px（18px-22px） *!*/
/*        font-size: calc(18px + 4 * (100vw - 414px) / 586);*/
/*    }*/
/*}*/
/*@media screen and (min-width: 1000px) {*/
/*    html{*/
/*        !* 屏幕宽度从1000px往后每增加100px，根字号大小就增加0.5px *!*/
/*        font-size: calc(22px + 5 * (100vw - 1000px) / 1000);*/
/*    }*/
/*}*/


/*h3{*/
/*    color: red;*/
/*}*/

h4.text-primary {
    font-size: 1.2rem;
}
th{
    color: black;
}
td{
    color: black;
}

#markdown {
    font-family: sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

/* Header
-------------------- */
#markdown{
    color: lightslategrey;
    line-height: 2;
}

#markdown h1, #markdown h2, #markdown h3 {
    cursor: default;
}

#markdown h1 {
    margin: 20px 0;
    text-align: center;
    color: white;
}

#markdown h2 {
    margin: 16px 0;
    padding-bottom: 8px;
    color: whitesmoke;
}

#markdown h3 {
    position: relative;
    margin: 10px 0;
    color: papayawhip;
}


#markdown h4 {
    margin: 10px 0;
    color: navajowhite;
}

/* Text Formating
-------------------- */

#markdown p {
    /*margin: 12px 0;*/
    color:lightgrey ;
}

#markdown code {
    margin: 0 2px;
    padding: 3px 5px;
    border-radius: 2px;
    color: #19CAAD;;
    background-color: #000000;
}


#markdown blockquote {
    border-left: 4px solid #0eaeec;
    padding: 10px 15px;
    color: #666;
    background-color: #dbf3fd;
}

/* Table
-------------------- */

#markdown table {
    border-spacing: 0;
    border-collapse: collapse;
}

#markdown table th, #markdown table td {
    padding: 6px 12px;
    border: 1px solid #dfe2e5;
}

#markdown table tr {
    background-color: #fff;
}

#markdown table thead tr, #markdown table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

/* Code Block
-------------------- */

#markdown pre code {
    max-width: 710px;
    display: block;
    padding: 16px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #525252;
    font-size: 14px;
    line-height: 22px;
    white-space: pre;
    overflow-x: auto;
}

/* List
-------------------- */

#markdown ul {
    padding-left: 20px;
    list-style-type: disc;
}

#markdown ul li {
    margin: 8px 0;
}

#markdown ul ul {
    list-style-type: circle;
}

#markdown ul ul ul {
    list-style-type: square;
}

/* Link
-------------------- */

#markdown a {
    color: #0eaeec;
    font-weight: bold;
}

/* Image
-------------------- */

#markdown img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 16px auto;
}