{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock title %} - {{ admin.blog_title|default('Blog Title') }}</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/blog.min.css') }}"
              type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% endblock head %}
</head>
<body>
<div id="topAnchor"></div>
{% block nav %}
    <nav class="navbar navbar-expand-lg change-color bg-primary" style="display: flex;justify-content: space-around;">
        <div class="container">
            <div class="navbar-nav mr-auto" style="display: contents">
                {{ render_nav_item('blog.index', '主页') }}
                {{ render_nav_item('blog.about', '关于') }}
                <h class="text-muted">{{ admin.blog_sub_title|default('天涯路远，见字如面') }}</h>
                <script>
                    if (!(/Mobi|Android|iPhone/i.test(navigator.userAgent))) {
                        //手机端屏幕小，导航条中不显示博客blog_title
                        document.write("<h class='text-muted'>{{ admin.blog_title|default('yyf的博客') }}</h>")
                    }
                </script>
                {% if current_user.is_authenticated %}
                    <a style="color: whitesmoke" href="{{ url_for('auth.logout', next=request.full_path) }}">登出</a>
                {% else %}
                    <a style="color: whitesmoke" href="{{ url_for('auth.login', next=request.full_path) }}">登录</a>
                {% endif %}
            </div>


        </div>
        <div>


            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            新建 <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('admin.new_post') }}">文章</a>
                            <a class="dropdown-item" href="{{ url_for('admin.new_category') }}">标签</a>
                            <a class="dropdown-item" href="{{ url_for('admin.new_link') }}">链接</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            管理 <span class="caret"></span>
                            {% if unread_comments %}
                                <span class="badge badge-success">new</span>
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('admin.manage_post') }}">文章</a>
                            <a class="dropdown-item" href="{{ url_for('admin.manage_category') }}">标签</a>
                            <a class="dropdown-item" href="{{ url_for('admin.manage_comment') }}">
                                评论
                                {% if unread_comments %}
                                    <span class="badge badge-success">{{ unread_comments }}</span>
                                {% endif %}
                            </a>
                            <a class="dropdown-item" href="{{ url_for('admin.manage_link') }}">链接</a>
                        </div>
                    </li>
                    {{ render_nav_item('admin.settings', '设置') }}
                {% endif %}
            </ul>

        </div>
    </nav>
{% endblock nav %}

<main class="container">
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
        </div>
    {% endfor %}
    {% block content %}{% endblock content %}

</main>
</body>
{% block footer %}
    <nav>
        <div class="change-color nav-link"
             style="min-height: 5%; display: flex; justify-content: space-around;padding-top: 0.5%;padding-bottom: 0.5%">
            <a href="#topAnchor" style="color: whitesmoke">返回顶部↑</a>
            <a href="https://beian.miit.gov.cn" style="color: #999 !important;">陕ICP备2020004273号</a>
            <h class='text-muted'> </h>


        </div>
    </nav>
    {#    <div class="bottom-block">#}
    {#        <hr class="hr-solid-content" data-content="陕ICP备2020004273号" >#}
    {#    </div>#}

    {#    <div class="icp-link">#}
    {#        <a href="https://beian.miit.gov.cn">陕ICP备2020004273号</a>
{#    </div>#}
{% endblock footer %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
{% endblock %}

</html>