{% if posts %}
    {% for post in posts %}
{#        {%  if loop.first %}#}
{#            <hr class="post_spliter">#}
{#        {% endif %}#}
        <h4 class="text-primary"><a href="{{ url_for('.show_post', post_id=post.id) }}">{{ post.title }}</a></h4>
        <p>
            {{ post.body|striptags|truncate }}
            <small><a href="{{ url_for('.show_post', post_id=post.id) }}">更多</a></small>
        </p>
        <small>
            评论: <a href="{{ url_for('.show_post', post_id=post.id) }}#comments">{{ post.comments|length }}</a>&nbsp;&nbsp;
            标签: <a
                href="{{ url_for('.show_category', category_id=post.category.id) }}">{{ post.category.name }}</a>
{#          <span class="float-right">{{ moment(post.timestamp).format('LL') }}</span>#}
            <span class="float-right">{{ post.timestamp.strftime("%Y年%m月%d日") }}</span>
        </small>
        {% if not loop.last %}
{#            <hr color="cornflowerblue">#}
            <hr class="post_spliter">
        {% endif %}
    {% endfor %}
{% else %}
    <div class="tip">
        <h5>No posts yet.</h5>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('admin.new_post') }}">Write Now</a>
        {% endif %}
    </div>
{% endif %}