{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            {% include 'blog/_posts.html' %}
            {% if posts %}
                <div class="page-footer" >{{ render_pager(pagination,prev='<<上一页',next='下一页>>') }}</div>
            {% endif %}
        </div>
        <div class="col-sm-4 sidebar">
            {% include 'blog/_sidebar.html' %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
    <div class="icp-link">
        <a href="https://beian.miit.gov.cn">陕ICP备2020004273号</a>
    </div>

{% endblock %}
