{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pager %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Home{% endblock %}

{% block content %}
{#    <div class="page-header">#}
{#        <h1 class="display-3">{{ admin.blog_title|default('Blog Title') }}</h1>#}
{#        <h4 class="text-muted">&nbsp;{{ admin.blog_sub_title|default('Blog Subtitle') }}</h4>#}
{#    </div>#}
    <div class="row">
        <div class="col-sm-8">
            {% include 'blog/_posts.html' %}
            {% if posts %}
{#                <div class="page-footer" >{{ render_pager(pagination,prev='<<PRE',next='NEXT>>') }}</div>#}
                <div class="page-footer" >{{ render_pager(pagination,prev='<<Pre',next='Next>>',_class='page_nav') }}</div>
            {% endif %}
        </div>
        <div class="col-sm-4 sidebar">
            {% include 'blog/_sidebar.html' %}
        </div>
    </div>
{#    <div>#}
{#        <hr style="background-color: blue" data-content="!!!!!!">#}
{#    </div>#}

{#    <hr style="color: red">#}
{% endblock %}
{#{% block footer %}#}
{#<div>#}
{#        <hr style="color: red" data-content="到我的底线了">#}
{#    </div>#}
{#{%  endblock %}#}